#sponsors {
    width: 100%;
    text-align: center;
    align-content: center;
    display: block;
    
    a { 
        margin: 0 25px; 
        text-decoration: none;
        border-bottom: none;
        vertical-align: middle;
        display: inline-block;
    }
}